<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <h1>OBa Home</h1>
        <button><a href="/uitleningen">Uitleningen</a></button>
    </body>
    <style>
        button a {
            background-color: crimson;
            size: 50px;
            
        }
        a {
            color: rgb(251, 182, 33);
            text-decoration: none;
        }

    </style>

</html>