<%- include('./partials/head') %>


    <main>


        <h1 class="welkom-tekst"> Profiel</h1>
        <article class="profielen-container">
            <article class="profielen">
                <img src="/assets/clearoff.jpeg" class="profiel-img" alt="">

                    <div class="profiel-name">

                    </div>

                    <h2 class="naam">Akiko</h2>

                <ul class="persoonlijke-informatie">
                    <li class="titel-lijst">Adres:</li>
                    <li >Bijlmerplein 393
                        1102DK Amsterdam</li>
                    <li class="titel-lijst">Woonplaats:</li>
                    <li>Amsterdam</li>
                    <li class="titel-lijst">Email:</li>
                    <li>naam@oba.nl</li>
                    <li class="titel-lijst">Telefoonnummer:</li>
                    <li>0612345678</li>
                  </ul>


            </article>



        </article>


    </main>

    <%- include('./partials/foot') %>