<%- include('./partials/head') %>


    <main>


    <a href="/profiel" class="back"> terug </a>


    <h1 class="welkom-tekst"> Welkom Akiko</h1>
    <article class="profielen-container">

            <article class="profielen">
             
               
                        <img src="/assets/clearoff.jpeg"
                            class="profiel-avatars" alt="">

                        <div class="profiel-name">profiel
                     
           
                </div>

 
                <!-- <details>
                    <summary>Gegevens</summary>
                    <div>adres</div>
                </details>
                <details>
                    <summary>Beschikbaarheid</summary>
                    <div>Boek</div>
                </details>
                <details>
                    <summary>Abonnement</summary>
                    <div>Type abonnement
                        <div>Lidnummer</div>
                    </div>
                </details> -->
      
          

    </article>
          


        </article>


    </main>

    <%- include('./partials/foot') %>